
* {
    margin:0;
    padding: 0;
}

.navigation {
    display: block;
    width: 100%;
    padding-bottom: 10px;

    .logo {
        display: inline-block;
        width: 25%;
        margin-left: 5px;
        padding-right: 134px;

        img {
            width: 100px;
            height: 20px;
            padding-left: 15px;
            padding-top: 20px;
        }
    }

    .right-nav {
        display: inline-block;
        text-align: center;
        width: 26%;
        border-radius: 15px;
        border: 1px solid #b9b0b0;

        a {
            text-decoration: none;
            color: hsl(192, 100%, 9%);
        }
    }
}